VITE_SUPABASE_URL=https://idjzueueirrnkegsfxzc.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
VITE_BACKBLAZE_ENDPOINT=https://s3.us-west-004.backblazeb2.com
VITE_BACKBLAZE_BUCKET=Barilochesuite
