# Source node_modules & build output
_source/node_modules/
_source/dist/
_source/dist-ssr/
_source/.output/
_source/.vinxi/
_source/.tanstack/
_source/.nitro/
_source/.wrangler/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment variables
*.local
.dev.vars

# Editor directories and system files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
